<div
  (click)="navigateToTodo()"
  [class.opacity-50]="!todo.id"
  class="card w-full bg-base-300 shadow-xl cursor-pointer"
>
  <div class="card-body items-center">
    <div class="card-actions w-full justify-between">
      <div class="flex-1">
        <h2
          [ngClass]="{ 'line-through': todo.isDone, 'opacity-60': todo.isDone }"
          class="card-title line-through opacity-60"
        >
          {{ (todo.title | truncate : 20) || "" }}
        </h2>
        <p class="text-sm opacity-60 mt-1">
          {{ todo.createdAt | date : "mediumDate" }}
        </p>
      </div>
      <button
        [disabled]="!todo.id"
        (click)="toggleFavourite($event)"
        class="btn btn-sm text-xl text-right"
      >
        @if(todo.isFavourite){
        <ng-icon name="faSolidStar"></ng-icon>
        }@else {
        <ng-icon name="faStar"></ng-icon>
        }
      </button>
    </div>
    <div class="w-full grid gap-y-2 grid-cols-6 grid-rows-4-auto">
      <!-- todo content -->
      <div class="row-start-1 col-span-full">
        @for(entry of visibleEntries() ; track entry.id){
        <div class="form-control">
          <label
            [ngClass]="{
              'line-through': entry.isDone,
              'opacity-60': entry.isDone
            }"
            class="label cursor-pointer self-start"
          >
            <input
              type="checkbox"
              [checked]="entry.isDone"
              class="checkbox checkbox-sm"
            />
            <span class="label-text ml-2">{{
              (entry.text | truncate : 50) || ""
            }}</span>
          </label>
        </div>
        }@empty {
        <p class="self-center">---- Empty ----</p>
        }
      </div>
      <!-- end of todo content -->

      <!-- + x more -->
      @if(visibleEntries().length < todo.entries.length){
      <p class="p-1 row-start-2 col-span-full">
        + {{ todo.entries.length - 2 }} more...
      </p>
      }
      <!-- end of + x more -->

      <!-- labels -->
      <div class="flex flex-wrap gap-2 row-start-3 col-span-full">
        @for(label of todo.labels; track label.id) {
        <p class="badge badge-lg badge-neutral max-w-fit gap-x-1">
          {{ label.name }}
          <ng-icon (click)="deleteLabel($event, label)" name="faSolidXmark" />
        </p>
        }
      </div>
      <!-- end of labels -->

      <!-- controls -->
      <div class="flex w-full gap-2 justify-self-end row-start-4 col-span-full">
        <!-- add label button -->
        <button (click)="openAddLabel($event)" class="btn btn-sm flex-grow">
          + Add Label
        </button>
        <!-- end  of add label button -->

        <!-- delete button -->
        <button
          [disabled]="!todo.id"
          (click)="deleteTodo()"
          class="btn btn-sm text-right"
        >
          <ng-icon name="faTrashCan"></ng-icon>
        </button>
        <!-- end of delete button -->
      </div>
      <!-- end of controls -->
    </div>
  </div>
</div>

<add-label-modal [item]="todo" />
