<app-header title="Signup" />

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="signupForm"
  class="flex flex-col gap-4 w-2/3 m-auto mt-10 p-8 border border-slate-500 rounded"
>
  <input
    formControlName="email"
    type="text"
    placeholder="Email"
    class="input rounded-none w-full max-w-5xl text-2xl border-b-2 focus:outline-none focus:border-transparent focus:border-b-2 focus:border-b-slate-500"
  />
  <error-text [form]="signupForm" controlName="email" />

  <input
    formControlName="username"
    type="text"
    placeholder="Username"
    class="input rounded-none w-full max-w-5xl text-2xl border-b-2 focus:outline-none focus:border-transparent focus:border-b-2 focus:border-b-slate-500"
  />
  <error-text [form]="signupForm" controlName="username" />

  <input
    formControlName="password"
    type="password"
    placeholder="Password"
    class="input rounded-none w-full max-w-5xl text-2xl border-b-2 focus:outline-none focus:border-transparent focus:border-b-2 focus:border-b-slate-500"
  />
  <error-text
    [form]="signupForm"
    controlName="password"
    [rules]="passwordRules"
  />

  <div>
    <button
      [disabled]="signupForm.invalid || isLoading()"
      type="submit"
      class="btn w-full mt-8"
    >
      @if(isLoading()){ <small-loading-spinner /> }@else{ Signup }
    </button>
  </div>
</form>
