<app-top-header [title]="title" />

@if(isLoading()){
<div class="flex justify-center w-full mt-56">
  <loading-spinner />
</div>
}@else{
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-4 gap-4 w-full mb-4"
>
  @for(item of data() ; track item.id){ @if(todoGuard.isTodo(item)){
  <todo [todo]="item" />
  } @else {
  <note [note]="item" />
  } }@empty{ <no-data class="col-span-full mt-32" /> }
</div>
<div class="flex justify-center mb-2">
  <pagination [onClicks]="onClicks" [lastPage]="pagination().lastPage" />
</div>
}
