<div
  (click)="navigateToNote()"
  [class.opacity-50]="!note.id"
  class="card w-full h-40 bg-base-300 shadow-xl cursor-pointer"
>
  <div class="card-body items-center">
    <div class="card-actions w-full justify-between">
      <div class="flex-1">
        <h2 class="card-title">
          {{ (note.title | truncate : 20) || "" }}
        </h2>
        <p class="text-sm opacity-60 mt-1">
          {{ note.createdAt | date : "mediumDate" }}
        </p>
      </div>
      <button
        [disabled]="!note.id"
        (click)="deleteNote()"
        class="btn btn-sm text-xl text-right"
      >
        <ng-icon name="faTrashCan"></ng-icon>
      </button>
    </div>
    <p class="self-start">{{ (note.body | truncate : 50) || "" }}</p>
  </div>
</div>
