<section
  class="my-4 p-4 rounded-md min-h-[300px] flex items-start justify-start gap-4"
>
  <div class="mt-4">
    <ng-icon
      (click)="goBack()"
      class="text-2xl cursor-pointer"
      name="faSolidArrowLeft "
    />
  </div>
  @if(todo()){

  <form [formGroup]="todoForm" class="flex-1">
    <input
      [value]="todo()?.title"
      formControlName="title"
      type="text"
      class="bg-transparent border-0 w-full h-12 p-0 m-0 focus:outline-none focus:border-0 font-bold text-4xl"
    />
    <error-text [form]="todoForm" controlName="title" />
    <p class="text-sm p-2 opacity-60">
      {{ todo()?.createdAt | date : "mediumDate" }}
    </p>

    @for(entry of todo()?.entries ; track entry.id; let i = $index){
    <div class="form-control flex flex-row hover:bg-base-300 px-2 items-center -ml-4">
      <label
        [class.opacity-60]="entry.isDone"
        class="label cursor-pointer justify-start gap-4 mr-2"
      >
        <input
          type="checkbox"
          [checked]="entry.isDone"
          class="checkbox checkbox-sm"
          (change)="updateEntryIsDone($event, entry)"
        />
      </label>
      <input
        [ngClass]="{
          'line-through': entry.isDone,
          'opacity-60': entry.isDone
        }"
        type="text"
        [value]="entry?.text"
        (change)="updateEntryText($event, entry)"
        class="bg-transparent border-0 w-full p-0 m-0 focus:outline-none focus:border-0"
      />
      <ng-icon
        (click)="deleteEntry(entry)"
        class="cursor-pointer"
        name="faTrashCan"
      />
    </div>
    }

    <input
      (keydown.enter)="addEntry($event)"
      (blur)="addEntry($event)"
      type="text"
      placeholder="+ Add new entry"
      class="input w-full p-2 m-0 focus:outline-none border focus:border-0"
    />
  </form>
  }@else {
  <div class="flex flex-1 justify-center w-full items-center h-full">
    <loading-spinner />
  </div>
  }
  <div
    class="flex flex-col gap-2 justify-between items-center min-h-full mt-4"
  ></div>
</section>
