<div class="navbar bg-base-100 justify-center items-center">
  <div class="flex-1 ml-[40vw]">
    <app-header [title]="title" />
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-bottom dropdown-end">
      <div
        tabindex="0"
        role="button"
        class="btn w-12 h-12 rounded-3xl bg-base-300 text-lg"
      >
        {{ user.user.username[0].toUpperCase() }}
      </div>
      <div
        tabindex="0"
        class="dropdown-content rounded-box flex justify-center items-center z-[1] menu p-2 shadow bg-base-200 w-max"
      >
        <p class="font-bold mx-2 my-4">Hi, {{ user.user.username }}</p>
        <button
          tabindex="0"
          (click)="logout()"
          class="btn rounded-3xl bg-base-300 text-lg border-2 border-base-100 w-full"
        >
          logout
        </button>
      </div>
    </div>
  </div>
</div>
