<div
  [class.-translate-x-16]="isClosed"
  class="fixed flex justify-start items-start mt-32 py-4 transition-transform"
>
  <ul class="menu bg-base-200 rounded-r-box gap-6">
    <side-bar-item icon="heroHome" tooltip="Home (coming soon)" to="/" />
    <side-bar-item
      icon="faStar"
      tooltip="Favourites (coming soon)"
      to="/favourites"
    />
    <side-bar-item icon="faNoteSticky" tooltip="Notes" to="/notes" />
    <side-bar-item icon="faPenToSquare" tooltip="Todos" to="/todos" />
    <side-bar-item
      icon="faBookmark"
      tooltip="Label 1 (coming soon)"
      to="/label1"
    />
    <side-bar-item
      icon="faBookmark"
      tooltip="Label 2 (coming soon)"
      to="/label2"
    />
    <side-bar-item
      icon="faTrashCan"
      tooltip="Trash (coming soon)"
      to="/trash"
    />
  </ul>
  <div
    (click)="toggleSideBar()"
    class="mt-6 md:hidden grid place-items-center text-xl bg-base-200 p-3 rounded-r-box"
  >
    <ng-icon name="ionMenu" />
  </div>
</div>
