<section class="my-4 p-4 rounded-md min-h-[300px] flex items-start gap-4">
  <div class="mt-4">
    <ng-icon
      (click)="goBack()"
      class="text-2xl cursor-pointer"
      name="faSolidArrowLeft "
    />
  </div>
  @if(note()){

  <div class="flex-1">
    @if(isEditing){
    <form (ngSubmit)="onSubmit()" [formGroup]="noteForm" class="flex flex-col">
      <input
        #title
        formControlName="title"
        type="text"
        class="input w-full p-2 font-bold text-4xl border-slate-600 m-0 focus:outline-none border focus:border-0"
      />
      <br />
      <textarea
        formControlName="body"
        rows="5"
        style="
          ::-webkit-scrollbar {
            width: 0;
            background: transparent;
          }
        "
        class="textarea p-2 text-lg resize-none border-slate-600 textarea-lg w-full focus:outline-none border focus:border-0"
      >
      </textarea>
      <div class="flex justify-end">
        <button type="submit" class="btn">Save</button>
        <button (click)="editNote()" type="button" class="btn">Close</button>
      </div>
    </form>

    }@else {
    <h2 class="font-bold p-2 text-4xl">{{ note()?.title?.trim() }}</h2>
    <p class="text-sm p-2 opacity-60">
      {{ note()?.createdAt | date : "mediumDate" }}
    </p>
    <p class="text-lg p-2">{{ note()?.body?.trim() }}</p>
    }
  </div>
  }@else {
  <div class="flex flex-1 justify-center w-full items-center h-full">
    <loading-spinner />
  </div>
  }
  <div class="flex flex-col gap-2 justify-between items-center min-h-full mt-4">
    @if(isEditing || !note()){ }@else {

    <ng-icon
      (click)="editNote()"
      class="text-2xl cursor-pointer"
      name="faPenToSquare "
    />
    }
  </div>
</section>
