<app-top-header />
<create-note />

@if(isNotesLoading()){
<div class="flex justify-center w-full mt-56">
  <loading-spinner />
</div>
} @else {

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-4 lg:p-0 gap-4 w-full mb-4"
>
  @for(note of notes().data ; track note.id){
  <note [note]="note" />
  }@empty{
  <p class="text-4xl text-center w-full mt-20 capitalize">no notes yet</p>
  }
</div>
<div class="flex justify-center">
  <pagination
    [onClicks]="onClicks"
    [page]="pagination().page"
    [lastPage]="pagination().lastPage"
  />
</div>
}
